In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('dataset.csv', index_col=0)

In [13]:
df.describe()

,ParentGame,Rating,xListed,xReviewed,Plays,Playing,Backlogs,Wishlist
count,0.0,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000,289.000000
mean,NaN,3.823875,1069.685121,545.799308,8823.470588,354.429066,2075.328720,1053.941176
std,NaN,0.458959,586.613037,349.787537,5646.495001,362.827624,1242.552402,740.587215
min,NaN,1.900000,120.000000,104.000000,539.000000,21.000000,26.000000,6.000000
25%,NaN,3.600000,667.000000,320.000000,4700.000000,131.000000,1100.000000,520.000000
50%,NaN,3.900000,897.000000,427.000000,7800.000000,239.000000,1900.000000,850.000000
75%,NaN,4.200000,1300.000000,674.000000,12000.000000,451.000000,2700.000000,1400.000000
max,NaN,4.600000,3100.000000,2500.000000,36000.000000,2800.000000,6900.000000,3900.000000

In [14]:
df[df['Title'].str.contains('Among Us')]

,Title,ParentGame,ReleaseDate,Team,Rating,xListed,xReviewed,Platforms,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
138,Among Us,NaN,"Jun 15, 2018",['Innersloth'],3.0,925,2500,"['Windows PC', 'Android', 'PlayStation 4', 'iO...","['Indie', 'Strategy']",Join your crew-mates in a multiplayer game of ...,"['An iconic flavor of the month, still fun to ...",27000,475,821,134